# IDE files
*.iml
.idea/
.DS_Store

# Gradle files
.gradle
/.gradle/
local.properties

# NDK/Native build files
.externalNativeBuild
.cxx/

# Android build files
/build/
/captures/
/outputs/
/navigation/
navigation_json/

# Ignore keystore files (if applicable, adjust the filename as needed)
*.keystore
